.git
.github
.env
.env.example
.editorconfig
.gitignore
.gitattributes
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
*.md
docker-compose.yml
Dockerfile
.dockerignore
